/* Importando font pelo google fonts */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yusei+Magic&display=swap');

body {
    margin: 0;
}

.login-page {
  background-image: url(../../assets/background-4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* 🔹 Card fixo à esquerda */
.back-card {
  height: 100vh;
  width: 50vw;
  background-color: rgba(246, 233, 233, 0.7); /* transparência só do fundo */
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.9);
  padding: 4rem;
  z-index: 10; /* deixa o card e os elementos acima do fundo */
  position: relative; /* necessário para que o z-index funcione */

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.back-card h1 {

  font-size: 36px;
  font-family: "Poppins", sans-serif;
  color: #187f9bb6;
  padding-bottom: 2rem;
}

.back-card p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  max-width: 400px;
  padding-bottom: none;
}

.login-card-custom {
  margin-top: 80px;
}