/* Importando font pelo google fonts */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yusei+Magic&display=swap');

body {
    margin: 0;
}

.home {
    background-color: #f6e9da;
}

.home_subtitle h1 {
    border-radius: 25px;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #E97E34;
    text-align: center;
    width: 100%;
    
}

/* container pai do texto + imagem */
.home_content {
    margin-top: 100px;
    width: 100%;
    height: 80% ;
    display: flex;
    justify-content: space-between;  /* ou space-between / flex-start */
    align-items: center;
    flex-direction: row;  
    padding: 0 40px; /* padding no lugar da margin */
    box-sizing: border-box; /* garante que o padding seja contado dentro da largura */

}



/* texto */
.home_subtitle {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #187f9bb6;
    text-align: left;
    max-width: 600px;
    text-align: justify;
    margin-left: 120px;          /* Remove margens externas */
}


.btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_subtitle .btn1, .home_subtitle .btn2 {
    width: 220px;
    height: 40px;
    padding: 5px;
    border-radius: 15px;
    background-color: #E97E34;
    color: #fbe5cc;
    margin: 10px;
    justify-content: center;
    align-items: center;
}


.btn1,.btn2 {
    cursor: pointer;
}


.home_subtitle h2 {
    margin: 0;
    padding: 0;
    margin: 15px;
}

.home_subtitle h3 {
    margin: 0;
    padding: 0;
    margin: 15px;
}

/* imagem */
.img_frontpage img {
    height: 550px;
    width: auto;
    align-items: block;
    margin-right: 50px;
    
}

.img_frontpage img:hover {
    transform: scale(1.02);
}

.card1, .card2, .card3, .card4, .card5, .card6{
    width: 400px;
    margin-left: 25px;
    margin-right: 25px;
    height: 250px; /* mantém a altura fixa */
    background-color: #187f9baf;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
    box-shadow: -8px 5px 10px rgba(74, 74, 74, 0.5);
    display: flex;
    flex-direction: column;       /* empilha o conteúdo verticalmente */
    justify-content: space-between; /* empurra o botão pro fim do card */
    align-items: center;

}

.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.content-card {
    display: flex;
    justify-content: space-between;  /* cria o "space-between" entre os cards */
    align-items: stretch;             /* todos os cards com a mesma altura */
    flex-wrap: nowrap;                /* impede quebra de linha */
    gap: 40px;                        /* adiciona espaçamento fixo entre eles */
    padding: 40px 60px;
    box-sizing: border-box;
    text-align: center;
}

.card-tittle  h2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   /* <<< CENTRALIZA horizontalmente títulos e imagens */
    text-align: center;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    color: #E97E34;
    padding-top: 30px;
    margin-top: 100px;
}

.card1 p, .card2 p, .card3 p, .card4 p, .card5 p, .card6 p{
    text-align: justify;
    line-height: 1.5; /* deixa a leitura mais confortável */
    margin: 0;        /* remove margens extras */
    font-size: 18px;
    color: #fbe5cc;
}

.card1 h3, .card2 h3, .card3 h3, .card4 h3, .card5 h3, .card6 h3 {
    font-size: 20px;
    color: #fbe5cc;
    width: 340px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.instruction {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    padding: 4rem;
}

.instruction .btn1 {
    width: 180px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: #E97E34;
    color: #fbe5cc;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.vilan {
    position: absolute;
    left: -300px; /* parte fora da tela */
    top: 300px;  /* ajuste vertical para alinhar com o texto */
    height: 400px; 
    z-index: 2; /* fica à frente do fundo, mas atrás do avatar se quiser */
    pointer-events: none; /* pra não atrapalhar clique em nada */
    animation: vilanWalk 10s infinite ease-in-out;
}

@keyframes vilanWalk {
     0% {
        transform: translateX(0);   /* fora da tela */
    }
    2% {
        transform: translateX(80px); /* entra um pouco na tela */
    }
    5% {
        transform: translateX(80px); /* mantém visível um tempinho */
    }
    0% {
        transform: translateX(0);   /* volta pra fora */
    }
}

.vilan:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}



.card1 img, .card2 img, .card3 img, .card4 img, .card5 img, .card6 img{
    width: 50px;
    height: auto;
    margin: 0;
    display: block;
}

