@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Commissioner:wght@100..900&family=Julius+Sans+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yusei+Magic&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

.main-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* logo à esquerda, links à direita */
    width: 100%;
    height: 80px;
    background-color: #187f9bbf;
    padding: 0 40px; /* margem lateral */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.main-navbar .imagem img {
    width: 40px; /* imagem pequena */
    height: auto;
}

.main-navbar .titles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
    gap: 300px;
}   


.titles .subtitle {
    font-family: "Bevan", serif;
    font-weight: 200;
    font-size: 20px;
    color: #072831e4;
    cursor: pointer;
}

.main-navbar p:hover {
    border-bottom: 2px solid #e97e34;
    transform: scale(1.02);
}
